@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <h1>Instru&ccedil;ões para utiliza&ccedil;ão do Projeto Elevador</h1>
    &nbsp; &nbsp;

    <h2>Iniciando</h2>
    <img src="/img/inicial.jpg" />
    <p>Esta &eacute; a tela inicial, seja bem vindo. Assim que estiver pronto, vamos come&ccedil;ar o programa. Para isso, basta informar digitar somente a letra "S" e teclar "Enter".</p>

    <h2>Parametrizando o Sistema</h2>
    <img src="./img/infoPredio.jpg" />
    <p>O pr&oacute;xima passo &eacute; informar alguns dados importantes do pr&eacute;dio para que a opera&ccedil;&atilde;o do elevador seja iniciada. Para isso, nesta etapa voc&ecirc; ser&aacute; questionado quanto &agrave; quantidade de pavimentos que o pr&eacute;dio possui e depois sobre a quantidade de pessoas que cabem dentro do elevador. Basta informar os valores e teclar "Enter".</p>
    <p>No exemplo acima, informamos que o pr&eacute;dio possui 25 pavimentos e cabem 10 pessoas dentro do elevador.</p>
    <p>Caso voc&ecirc; informe um valor inv&aacute;lido (número negativo, letras, número com v&iacute;rgula, entre outros), o programa ser&aacute; encerrado, sendo necess&aacute;rio inici&aacute;-lo novamente.</p>
    
    <h2>Operação</h2>
    <img src="../Pages/img/menu.jpg" />
    <p>Este &eacute; o menu principal do programa. A parte superior mostra o estado atual do elevador.</p>
    <p>Para realizar alguma opera&ccedil;&atilde;o basta informar o número desejado e teclar "Enter".</p>
    <p>Ap&oacute;s realizar a primeira opera&ccedil;&atilde;o, &eacute; poss&iacute;vel teclar novamente "Enter" que a &uacute;ltima a&ccedil;&atilde;o ser&aacute; executada novamente.</p>
    <p>Para encerrar o programa, basta informar "0" (zero) e teclar "Enter".</p>
    <p>Caso informe uma op&ccedil;&atilde;o inv&aacute;lida o comando ser&aacute; ignorado.</p>

    <h2>FIM!</h2>
</div>
